.loginPage {
    background-image: url("../../assets/fh_technikum_wien_nacht_gross.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.loginInputForm {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    .mat-card {
        padding: 0 45px 0 45px;
    }
}
#fhLoginLogo {
    display: block;
    max-width: 450px;
    max-height: 450px;
    width: auto;
    height: auto;
}
