<ul class="nav navbar-nav" routerLinkActive="active">
    <li>
        <a routerLink="/platform" class="list-group-item list-group-item-action" [routerLinkActive]="['active']">
            Übersicht
        </a>
    </li>
    <li>
        <a routerLink="create" class="list-group-item list-group-item-action" [routerLinkActive]="['active']">
            Aufgabenerstellen
        </a>
    </li>
    <li>
        <a routerLink="correct" class="list-group-item list-group-item-action" [routerLinkActive]="['active']">
            Aufgabenkontrollieren
        </a>
    </li>
</ul>