<div class="container-fluid" id="contentWrapper">
    <mat-card id="createFileCard">
        <mat-card-header>
            <mat-card-title>Add new file ...</mat-card-title>
        </mat-card-header>
        <form [formGroup]="newFileForm" (ngSubmit)="submit()">
            <mat-card-content>
                <div class="col-md-12 mb-3">
                    <mat-form-field appearance="outline" [style.width.%]="49" style="padding-right: 2%;"
                        class="newFileForm">
                        <mat-label>File name</mat-label>
                        <input matInput formControlName="name" value="" autocomplete="off" placeholder="HelloWorld">
                        <mat-hint *ngIf="name.invalid && (name.dirty || name.touched)"
                            class="text-danger margin-bottom-thin my-mat-hint">
                            <div *ngIf="name.errors!['required']">
                                Filename is required
                            </div>
                            <div *ngIf="name.errors!['minlength']">
                                Filename must be at least 3 characters long.
                            </div>
                            <div *ngIf="name.errors!['fileNameExists']">
                                Filename is already in use!
                            </div>
                            <div *ngIf="name.errors!['fileNameEnding']">
                                File extension is not needed!
                            </div>
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline" [style.width.%]="49" class="newFileForm">
                        <mat-label>Language</mat-label>
                        <mat-select matInput formControlName="language" name="language">
                            <mat-option *ngFor="let language of languages" [value]="language.value">
                                {{language.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="newFileForm.hasError('required')">Please choose a language</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" [style.width.%]="49" class="newFileForm">
                        <mat-label>Template</mat-label>
                        <mat-select matInput formControlName="template" name="template">
                            <mat-option *ngFor="let template of templates" [value]="template.value">
                                {{template.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions style="padding: 20px;">
                <button style="float: left;" mat-raised-button color="primary" type="submit"
                    [disabled]="newFileForm.invalid" mat-dialog-close>Submit</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>