  .file-tree-container {
    height: calc(100vh - 64px);
    overflow: hidden;
  }
  .file-tree {
    background-color: rgba(26, 32, 53, 1);
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    min-height: 0;
    overflow: auto;
  
    &-invisible {
      display: none;
    }
    ul, li {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
    }
  
    .mat-icon-button[disabled] {
      display: none;
    }
  
    .file-node-label {
      color:#fff;
      display: flex;
      cursor: pointer;
      user-select: none;
      
  
      &__icon {
        float: left;
      }
  
      &__text {
        color:#fff;
        float: left;
        margin-top: 4px;
        margin-left: 4px;
        white-space: nowrap;
      }
    }
  }
  .internalMatGridOutputActionBar{
      min-width:100%;
      min-height: 100%;
      color: white;
  }

  .versionActionBar{
    background-color: white;
    margin-top: 4px;
  }
  .runActionBar{
    margin-left: 25px;
  }
  