.file-tree-container {
  height: calc(100vh - 64px);
  overflow: hidden;
}
.file-tree {
  background-color: rgba(26, 32, 53, 1);
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  min-height: 0;
  overflow: auto;

  &-invisible {
    display: none;
  }
  ul,
  li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .mat-icon-button[disabled] {
    display: none;
  }

  .file-node-label {
    margin-left: 15px;
    color: #fff;
    display: flex;
    cursor: pointer;
    user-select: none;

    &__icon {
      float: left;
    }

    &__text {
      color: #fff;
      float: left;
      margin-top: 4px;
      margin-left: 4px;
      white-space: nowrap;
    }
  }
}
.selectVersionActionBar {
  background-color: white;
  margin: 5px;
}
.selectThemeActionBar {
  background-color: white;
  margin: 5px;
  float: right;
}
.runActionBar {
  margin-left: 1% !important;
  margin-top: 10px !important;
}
.outputWindow {
  background-color: rgb(41, 51, 85);
  color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  min-height: 0;
  overflow: auto;
  white-space: pre;
}
.wrap {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  justify-content: space-between;
}

.margin div:last-child {
  margin-left: auto;
}
::ng-deep .mat-form-field {
  .mat-select-value{
      color: black;
  }
}